body {
  background-color: #f8f8f8;
  font-family: "Arial";
}

.container {
  margin-top: 40px;
}

.add-section input,
.search-section input {
  margin: 5px;
}
.sort-section {
  margin: 20px 0;
}

.highlight {
  background-color: #d4edda !important;
  font-weight: bold;
}
